USE [master]
GO
/****** Object:  Database [ispp2108]    Script Date: 26.11.2025 10:56:45 ******/
CREATE DATABASE [ispp2108]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ispp2108', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQL\MSSQL\DATA\ispp2108.mdf' , SIZE = 9216KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ispp2108_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQL\MSSQL\DATA\ispp2108_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ispp2108].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ispp2108]
GO
/****** Object:  Table [dbo].[DeManufacturer]    Script Date: 26.11.2025 10:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeManufacturer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Manufacturer] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_DeManufacturer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeOrder]    Script Date: 26.11.2025 10:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateOrder] [datetime2](7) NOT NULL,
	[DateDelivery] [datetime2](7) NOT NULL,
	[PickupPointId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[CodeReceipt] [int] NOT NULL,
	[StatusOrder] [bit] NOT NULL,
 CONSTRAINT [PK_DeOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeOrderHasDeProduct]    Script Date: 26.11.2025 10:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeOrderHasDeProduct](
	[ProductId] [nvarchar](6) NOT NULL,
	[OrderId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_DeOrderHasDeProduct_1] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DePickupPoint]    Script Date: 26.11.2025 10:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DePickupPoint](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Index] [int] NOT NULL,
	[City] [nvarchar](150) NOT NULL,
	[Street] [nvarchar](150) NOT NULL,
	[StreetNumber] [int] NOT NULL,
 CONSTRAINT [PK_DePickupPoint] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeProduct]    Script Date: 26.11.2025 10:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeProduct](
	[Id] [nvarchar](6) NOT NULL,
	[ProductName] [nvarchar](150) NOT NULL,
	[Price] [decimal](7, 2) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[ManufacturerId] [int] NOT NULL,
	[Category] [bit] NOT NULL,
	[Discount] [float] NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Photo] [nvarchar](50) NULL,
 CONSTRAINT [PK_DeProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeRole]    Script Date: 26.11.2025 10:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_DeRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeSupplier]    Script Date: 26.11.2025 10:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeSupplier](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Supplier] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_DeSupplier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeUser]    Script Date: 26.11.2025 10:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[Patronymic] [nvarchar](100) NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_DeUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DeManufacturer] ON 

INSERT [dbo].[DeManufacturer] ([Id], [Manufacturer]) VALUES (0, N'Kari')
INSERT [dbo].[DeManufacturer] ([Id], [Manufacturer]) VALUES (1, N'Marco Tozzi')
INSERT [dbo].[DeManufacturer] ([Id], [Manufacturer]) VALUES (2, N'Рос')
SET IDENTITY_INSERT [dbo].[DeManufacturer] OFF
GO
SET IDENTITY_INSERT [dbo].[DeOrder] ON 

INSERT [dbo].[DeOrder] ([Id], [DateOrder], [DateDelivery], [PickupPointId], [CustomerId], [CodeReceipt], [StatusOrder]) VALUES (1, CAST(N'2025-02-27T00:00:00.0000000' AS DateTime2), CAST(N'2025-04-20T00:00:00.0000000' AS DateTime2), 1, 3, 901, 1)
INSERT [dbo].[DeOrder] ([Id], [DateOrder], [DateDelivery], [PickupPointId], [CustomerId], [CodeReceipt], [StatusOrder]) VALUES (2, CAST(N'2022-09-28T00:00:00.0000000' AS DateTime2), CAST(N'2025-04-21T00:00:00.0000000' AS DateTime2), 11, 0, 902, 1)
INSERT [dbo].[DeOrder] ([Id], [DateOrder], [DateDelivery], [PickupPointId], [CustomerId], [CodeReceipt], [StatusOrder]) VALUES (3, CAST(N'2025-03-21T00:00:00.0000000' AS DateTime2), CAST(N'2025-04-22T00:00:00.0000000' AS DateTime2), 2, 1, 903, 1)
SET IDENTITY_INSERT [dbo].[DeOrder] OFF
GO
INSERT [dbo].[DeOrderHasDeProduct] ([ProductId], [OrderId], [Quantity]) VALUES (N'B320R5', 9, 5)
INSERT [dbo].[DeOrderHasDeProduct] ([ProductId], [OrderId], [Quantity]) VALUES (N'D329H3', 4, 4)
INSERT [dbo].[DeOrderHasDeProduct] ([ProductId], [OrderId], [Quantity]) VALUES (N'D329H3', 8, 4)
GO
SET IDENTITY_INSERT [dbo].[DePickupPoint] ON 

INSERT [dbo].[DePickupPoint] ([Id], [Index], [City], [Street], [StreetNumber]) VALUES (0, 420151, N'г. Лесной', N'ул. Вишневая', 32)
INSERT [dbo].[DePickupPoint] ([Id], [Index], [City], [Street], [StreetNumber]) VALUES (1, 125061, N'г. Лесной', N'ул. Подгорная', 8)
INSERT [dbo].[DePickupPoint] ([Id], [Index], [City], [Street], [StreetNumber]) VALUES (2, 630370, N'г. Лесной', N'ул. Шоссейная', 24)
SET IDENTITY_INSERT [dbo].[DePickupPoint] OFF
GO
INSERT [dbo].[DeProduct] ([Id], [ProductName], [Price], [SupplierId], [ManufacturerId], [Category], [Discount], [StockQuantity], [Description], [Photo]) VALUES (N'B320R5', N'Туфли', CAST(4300.00 AS Decimal(7, 2)), 0, 3, 0, 2, 6, N'Туфли Rieker женские демисезонные, размер 41, цвет коричневый', N'Photos/9.jpg')
INSERT [dbo].[DeProduct] ([Id], [ProductName], [Price], [SupplierId], [ManufacturerId], [Category], [Discount], [StockQuantity], [Description], [Photo]) VALUES (N'B431R5', N'Ботинки', CAST(2700.00 AS Decimal(7, 2)), 1, 3, 1, 2, 5, N'Мужские кожаные ботинки/мужские ботинки', NULL)
INSERT [dbo].[DeProduct] ([Id], [ProductName], [Price], [SupplierId], [ManufacturerId], [Category], [Discount], [StockQuantity], [Description], [Photo]) VALUES (N'C436G5', N'Ботинки', CAST(10200.00 AS Decimal(7, 2)), 0, 4, 0, 15, 9, N'Ботинки женские, ARGO, размер 40', NULL)
GO
SET IDENTITY_INSERT [dbo].[DeRole] ON 

INSERT [dbo].[DeRole] ([Id], [Name]) VALUES (0, N'Администратор')
INSERT [dbo].[DeRole] ([Id], [Name]) VALUES (1, N'Менеджер')
INSERT [dbo].[DeRole] ([Id], [Name]) VALUES (2, N'Авторизированный кли')
SET IDENTITY_INSERT [dbo].[DeRole] OFF
GO
SET IDENTITY_INSERT [dbo].[DeSupplier] ON 

INSERT [dbo].[DeSupplier] ([Id], [Supplier]) VALUES (0, N'Kari')
INSERT [dbo].[DeSupplier] ([Id], [Supplier]) VALUES (1, N'Обувь для вас')
SET IDENTITY_INSERT [dbo].[DeSupplier] OFF
GO
SET IDENTITY_INSERT [dbo].[DeUser] ON 

INSERT [dbo].[DeUser] ([Id], [RoleId], [LastName], [FirstName], [Patronymic], [Login], [Password]) VALUES (0, 0, N'Никифорова', N'Весения', N'Николаевна', N'94d5ous@gmail.com', N'uzWC67')
INSERT [dbo].[DeUser] ([Id], [RoleId], [LastName], [FirstName], [Patronymic], [Login], [Password]) VALUES (1, 0, N'Сазонов', N'Руслан', N'Германович', N'uth4iz@mail.com', N'2L6KZG')
INSERT [dbo].[DeUser] ([Id], [RoleId], [LastName], [FirstName], [Patronymic], [Login], [Password]) VALUES (2, 0, N'Одинцов', N'Серафим', N'Артёмович', N'yzls62@outlook.com', N'JlFRCZ')
SET IDENTITY_INSERT [dbo].[DeUser] OFF
GO
ALTER TABLE [dbo].[DeOrder]  WITH CHECK ADD  CONSTRAINT [FK_DeOrder_DePickupPoint] FOREIGN KEY([PickupPointId])
REFERENCES [dbo].[DePickupPoint] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DeOrder] CHECK CONSTRAINT [FK_DeOrder_DePickupPoint]
GO
ALTER TABLE [dbo].[DeOrder]  WITH CHECK ADD  CONSTRAINT [FK_DeOrder_DeUser] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[DeUser] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DeOrder] CHECK CONSTRAINT [FK_DeOrder_DeUser]
GO
ALTER TABLE [dbo].[DeOrderHasDeProduct]  WITH CHECK ADD  CONSTRAINT [FK_DeOrderHasDeProduct_DeOrder] FOREIGN KEY([OrderId])
REFERENCES [dbo].[DeOrder] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DeOrderHasDeProduct] CHECK CONSTRAINT [FK_DeOrderHasDeProduct_DeOrder]
GO
ALTER TABLE [dbo].[DeOrderHasDeProduct]  WITH CHECK ADD  CONSTRAINT [FK_DeOrderHasDeProduct_DeProduct] FOREIGN KEY([ProductId])
REFERENCES [dbo].[DeProduct] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DeOrderHasDeProduct] CHECK CONSTRAINT [FK_DeOrderHasDeProduct_DeProduct]
GO
ALTER TABLE [dbo].[DeProduct]  WITH CHECK ADD  CONSTRAINT [FK_DeProduct_DeManufacturer] FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[DeManufacturer] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DeProduct] CHECK CONSTRAINT [FK_DeProduct_DeManufacturer]
GO
ALTER TABLE [dbo].[DeProduct]  WITH CHECK ADD  CONSTRAINT [FK_DeProduct_DeSupplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[DeSupplier] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DeProduct] CHECK CONSTRAINT [FK_DeProduct_DeSupplier]
GO
ALTER TABLE [dbo].[DeUser]  WITH CHECK ADD  CONSTRAINT [FK_DeUser_DeRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[DeRole] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DeUser] CHECK CONSTRAINT [FK_DeUser_DeRole]
GO
USE [master]
GO
